aws_access_key = ""
aws_secret_key = ""

mariadb_password = ""

secret_key = ""

django_secret_key = ""
db_password = ""

voting_db_user     = ""
voting_db_password = ""
voting_db_name     = ""

database_url        = ""
voting_database_url = ""

pgadmin_email    = ""
pgadmin_password = ""
public_key_path  = ""

auth_service_url = ""

github_org = ""
