{
    "MARIADB_DATABASE":"",
    "MARIADB_USER":"",
    "MARIADB_PASSWORD":"",
    "DATABASE_PORT":"3306",
    "SECRET_KEY":"",
    "JWT_PUBLIC_KEY":"-----BEGIN PUBLIC KEY-----\n==\n-----END PUBLIC KEY-----",
    "AWS_S3_REGION_NAME":"eu-north-1",
    "AWS_REGION":"eu-north-1",
    "ALLOWED_HOSTS":"",
    "CORS_ALLOWED_ORIGINS":"",
    "CSRF_TRUSTED_ORIGINS":"",
    "MY_APP_VITE_MAPBOX_TOKEN":"",
}
