{
  "mariadb-root-password": "",
  "DATABASE_HOST": "map-service-mariadb",
  "mariadb-password": "",
  "mariadb-replication-password": "",
  "MARIADB_DATABASE": "",
  "MARIADB_USER": "",
  "MARIADB_PASSWORD": "",
  "MARIADB_ROOT_PASSWORD": "",
  "DATABASE_PORT": "3306",
  "SECRET_KEY": "",
  "JWT_PUBLIC_KEY": "",
  "PRIVATE_KEY_PATH": "ec_private.key",
  "PUBLIC_KEY_PATH": "ec_public.key",
  "AWS_ACCESS_KEY_ID": "",
  "AWS_SECRET_ACCESS_KEY": "",
  "AWS_STORAGE_BUCKET_NAME": "stage-buried-marks-media",
  "AWS_S3_REGION_NAME": "eu-north-1",
  "ALLOWED_HOSTS": "",
  "CORS_ALLOWED_ORIGINS": "",
  "CSRF_TRUSTED_ORIGINS": "",
  "MY_APP_VITE_MAPBOX_TOKEN": ""
}
