{
    "BREVO_API_KEY":"",
    "SENDER_EMAIL":"@gmail.com",
    "VALKEY_ADDR":"mail-service-valkey-primary:6379",
    "PORT":"8080",
    "DJANGO_SECRET_KEY":"",
    "SERVICE_URL":"http://authentication-microservice:8000",
    "DAILY_CODE_KEY":"daily_code:global",
    "ALLOWED_HOSTS":"",
    "CSRF_TRUSTED_ORIGINS":"http://marks.buriedmarks.pp.ua"
}
