{
  "password": "",
  "postgres-password": "",
  "DB_NAME": "",
  "DB_USER": "",
  "DB_PASSWORD": "",
  "DB_HOST": "auth-service-postgresql",
  "DB_PORT": "5432",
  "DJANGO_SECRET_KEY": "",
  "PRIVATE_KEY_PATH": "/app/private.pem",
  "PUBLIC_KEY_PATH": "/app/public.pem",
  "BREVO_API_KEY": "",
  "SENDER_EMAIL": "",
  "VALKEY_ADDR": "mail-service-valkey-primary:6379",
  "DAILY_CODE_KEY": "",
  "FRONTEND_URL": "http://marks.command-line.top",
  "MAIL_SERVICE_URL": "http://mail-service:8080",
  "SERVICE_URL": "http://auth-service:8000/api/emails/",
  "ALLOWED_HOSTS": "",
  "CSRF_TRUSTED_ORIGINS": "",
  "SESSION_COOKIE_DOMAIN": "marks.command-line.top",
  "CSRF_COOKIE_DOMAIN": "marks.command-line.top",
  "DEBUG": "True",
  "USE_X_FORWARDED_HOST": "True",
  "USE_X_FORWARDED_PORT": "True",
  "SECURE_PROXY_SSL_HEADER": "None"
}
