{
  "password": "",
  "postgres-password": "",
  "POSTGRES_USER": "",
  "POSTGRES_PASSWORD": "",
  "POSTGRES_DB": "",
  "DATABASE_URL": "postgresql+psycopg://admin:password@voting-service-postgresql:5432/voting_db",
  "VOTING_DATABASE_URL": "postgresql+psycopg://admin:password@voting-service-postgresql:5432/voting_db",
  "PGADMIN_EMAIL": "",
  "PGADMIN_PASSWORD": "",
  "PUBLIC_KEY_PATH": "/tmp/jwt_public_key/ec_public.key",
  "DJANGO_SECRET_KEY": "",
  "AUTH_SERVICE_URL": "http://auth-service:8000",
  "ALLOWED_HOSTS": "",
  "CSRF_TRUSTED_ORIGINS": ""
}
