{
    "password":"",
    "postgres-password":"",
    "DB_NAME":"",
    "DB_USER":"",
    "DB_PASSWORD":"",
    "DB_PORT":"5432",
    "DJANGO_SECRET_KEY":"",
    "PRIVATE_KEY_PATH":"/app/private.pem",
    "PUBLIC_KEY_PATH":"/app/public.pem",
    "BREVO_API_KEY":"",
    "SENDER_EMAIL":"@gmail.com",
    "VALKEY_ADDR":"mail-service-valkey-primary:6379",
    "DAILY_CODE_KEY":"daily_code:global",
    "FRONTEND_URL":"http://marks.buriedmarks.pp.ua",
    "MAIL_SERVICE_URL":"http://mail-microservice:8080",
    "SERVICE_URL":"http://authentication-microservice:8000",
    "ALLOWED_HOSTS":"",
    "CSRF_TRUSTED_ORIGINS":"",
    "DEBUG":"True",
    "USE_X_FORWARDED_HOST":"True",
    "USE_X_FORWARDED_PORT":"True",
    "SECURE_PROXY_SSL_HEADER":"None",
    "JWT_PUBLIC_KEY":"-----BEGIN PUBLIC KEY-----\n\n-----END PUBLIC KEY-----",
    "JWT_PRIVATE_KEY":"-----BEGIN EC PRIVATE KEY-----\n\n-----END EC PRIVATE KEY-----",
    "INVITE_DAILY_CODE_URL":"http://mail-microservice:8080/api/send-invite-daily-code"
}
